<div class="container">
    <div class="row">
        <div class="col-md-4 ">
            <div class="search-class">
                <p class="btn btn-warning" (click)="userView = true">Users</p>
                <!-- <p  class="btn btn-info" (click)="UserView = false">Repos</p> -->
            </div>
            <div class="card" style="width: 18rem;" *ngIf="userView">
                <img class="card-img-top" src="{{user.avatar_url}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{user.login}}</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <p>{{user.login}}-<a href="{{user.html_url}}" target="blank">GIthub Profile Link</a></p>
                    <p class="btn btn-danger">Followers<br><span>{{user.followers}}</span></p>
                    <p class="btn btn-warning">Following<br><span>{{user.following}}</span></p>
                    <p class="btn btn-info">Repositories<br><span>{{user.public_repos}}</span></p>

                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
    </div>
</div>