<div class="container">
        <ng-progress></ng-progress>
        <app-searchform> </app-searchform>
        <img src="" alt="">
        <div>
            <p class="btn btn-danger" (click)="userView = true">Users</p>
            <p class="btn btn-danger" (click)="!userView = false">Repos</p>
        </div>
        <div class="card" style="width: 18rem;" *ngIf='userView'>
            <img class="card-img-top" src="{{user.avatar_url}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{user.login}}</h5>
                <p class="card-text"></p>
            </div>
                <p>{{user.login}}-<a href="{{user.html_url}}" target="blank">GIthub Profile Link</a></p>
        </div>
        <div class="foll">
            <p class="badge badge-pill badge-success hei">Followers <span
                    class=" badge-light badge-pill">{{user.followers}}</span></p>
            <p class="badge badge-pill badge-warning hei">Following <span
                    class=" badge-light badge-pill">{{user.following}}</span></p>
            <p class="badge badge-pill badge-info hei">Repositories <span
                    class=" badge-light badge-pill">{{user.public_repos}}</span></p>
            <!-- <button type="button" class="btn btn-info"> Repositories <span class="badge badge-light">{{user.public_repos}}</span>
                <span class="sr-only">unread messages</span>
              </button>
     -->
            <br>
            <p class="badge badge-pill badge-info hei pad">VIEW REPOSITORIES <span
                    class=" badge-light badge-pill"></span></p>


        </div>



        <!-- <p class="btn btn-danger" (click)="!userView = false">Repos</p> -->

        <div *ngIf="!userView">
                <div  *ngFor="let repoo of service.repo">
                    <div style="width: 18rem;">


                        <div class="card ">
                            <div class="card-body">
                                <h4>{{repoo.name}}</h4>
                                <h5 class="card-title">{{repoo.name}}</h5>

                            </div>

                            <div class="card-body">
                                <a href="{{repoo.html_url}}" class="card-link">repoLink</a>


                            </div>
                        </div>
                </div>
            </div>

        </div>


</div>